h1 {
    background-color: black;
    color: white;
}
h2{
    color: blue;
}
#bmwimage{
    width: 196px;
    height: 128px;
}
#catimage{
    width: 150px;
    height: 150px;
}
#nerdimage{
    width: 150px;
    height: 150px;
}
.qnav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.bthsimg{
    width: 150px;
    height: 150px;
}
.navlinks{
    padding: 28px 0;
}
.navlinks li{
    display: inline-block;
    margin: 0 15px;
}
.navlinks li a{
text-decoration: none;
color: #fff;
padding: 5px 0;
position: relative;
}
.navlinks li a::after{
    content: '';
    background: ff3d00;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}
.navlinks li a:hover::after{
width: 100%;

}
#tzfatimage{
    width: 600px;
    height: 450px;
    margin: 0 15px
    padding 30px 0;
}
#mpimage{
    width: 600px;
    height: 450px;
    margin: 0 15px
    padding 30px 0;
}