h1 {
    background-color: black;
    color: white;
}
h2{
    color: blue;
}
#bmwimage{
    width: 196px;
    height: 128px;
}
#catimage{
    width: 150px;
    height: 150px;
}
#nerdimage{
    width: 150px;
    height: 150px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.bthsimg{
    width: 150px;
    height: 150px;
}
.navlinks{
    padding: 28px 0;
}
.navlinks li{
    display: inline-block;
    margin: 0 15px;
}
.navlinks li a{
text-decoration: none;
color: #fff;
padding: 5px 0;
}